/* style.css
 * This file provides css styles.
 */

body,html {
		background: rgb(241,251,255); /* Old browsers */
	//background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 88%, #c2e1ed 100%); /* FF3.6-15 */
	//background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 88%,#c2e1ed 100%); /* Chrome10-25,Safari5.1-6 */
	//background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 88%,#c2e1ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#c2e1ed',GradientType=0 ); /* IE6-9 */
	width : 100%;
	height: 100%;
	font-size:2vh;
	overflow:hidden;
	padding:0px;
	z-index:-10;
	margin:0px;
	//margin: 0 auto;
	//font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	//font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	//font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: black;
	text-align:center;
	 -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}



#player1Stuff{
	display:none;
}

 #rotate{
	background-color:rgb(191, 255, 200);
	height:100vh;
	width:80vw;
	top:0px;
	position:absolute;
	left:0px;
	z-index:500;
	font-size:3em;
	padding: 10vw;
 }
@media screen and (orientation:landscape){
   #rotate{
      display:none;
   }
}

@media screen and (orientation:portrait){
   #rotate{
       display:block;
   }
}

label{
	//font-size:2em;
}

#container{
	width:100vw;
	height:100vh;
	margin:0px;
	padding:0px;
	position:absolute;

}


#theQuestion{
	font-size:6.4em;
	width:80vw;

}

#sent{
	display:none;
	font-size: 0.7em;
}
#result{
	display:none;
	font-size: 0.6em;
}
h1 {
	//font-weight: bold;
	//font-size: 4em;
}

html {

font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#sound{
	position:absolute;
	top:3vh;
	right: 2vh;
	z-index:152;
	//height:20vh;
}

#soundImg{
	position:absolute;
	height: 5vh;
	width: 5vh;
	top:0px;
	right:0px;
}

#soundImg:hover, #nosoundImg:hover{
	cursor:pointer;
}


#nav-icon3{
	z-index:400;
	//color:red;
}
#playerNumber{
	position:absolute;
	font-size:4em;
	left:0px;
	width:100vw;
	z-index:4;
	color:rgb(150,150,255);
}
#theCanvas{
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	
}
.line{
	height:2px;
	background-color:white;
	width:80%;
	
	margin-left: 10%;
}
#menu{
position:absolute;
background:rgb(50,50,50);
color:white;
width:100vw;
top:0px;
z-index:151;
display:none;
font-size:25px;
padding-top:2vh;
padding-bottom:4vh;
	-webkit-box-shadow: -3px 10px 71px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 10px 71px 0px rgba(0,0,0,0.75);
box-shadow: -3px 10px 71px 0px rgba(0,0,0,0.75);

}
#menu input{
	background:none;
	color:white;
	margin-top:2vh;
font-size:2em;
border:none;
}
#sideMenu{
	position:absolute;
	z-index:150;
		height:100vh;
		background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%);
		//min-width:10vw;
		width:15vw;
			-webkit-box-shadow: -3px 10px 71px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 10px 71px 0px rgba(0,0,0,0.75);
box-shadow: -3px 10px 71px 0px rgba(0,0,0,0.45);

}
.sideMenuButton{
	margin-top:0.5vh;
	background: rgb(240,230,240);
	font-size:2em;
	vertical-align: middle;
	//display:block;
	width:6.5vw;
	float:left;
	border-radius: 10px;
	margin-left:0.5vw;
	height:7vw;
	overflow:hidden;
}
.thick{
	font-weight:800;
	 font-size:3em;
	//padding:0px;
	//padding-top:-2vh;
}
.thin{
		//font-weight:300;
}
.red{
	background-color:rgb(255,0,0);
}

.blue{
	background-color:rgb(0,0,255);
}
.green{
	background-color:rgb(0,255,0);
}
.yellow{
	background-color:rgb(255,255,0);
}
.purple{
	background-color:rgb(255,0,255);
}
.brown{
	background-color:rgb(150, 77, 0);
}
.black{
	background-color:rgb(0, 0, 0);
}
.white{
	background-color:rgb(255, 255, 255);
}
.clear{
width:13.5vw;
	}